{% extends 'main/navbar.html' %}
{% block title %} Log in {% endblock title %}


{% block body %}

<form action="" method="POST">
    {% csrf_token %}

    <div class="container col-md-5 bg-dark mt-5">
        <fieldset>
            <legend> Log In</legend>

            {% if error_message %}
            <div class="alert alert-light">
                {{error_message}}
            </div>
            {% endif %}


            <div class="form-group">
                <label for="username">Username:</label>
                <div>
                    <input type="text" name="username" class="form-control col-7" placeholder="Enter username"
                           required id="username">
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <div>
                    <input type="password" name="password" class="form-control col-7" placeholder="Enter password"
                           required id="password">
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Sign In</button>

            <div>
                <br>
                <p>Don't have an account?
                    <a href="{% url 'register' %}"> Click here to Sign-up.</a>
                </p>
            </div>
        </fieldset>
    </div>

</form>


{% endblock %}


