<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Navigation Bar {% endblock title %}</title>

    {% load static %}
    <link href="{% static 'css/star_rating.css' %}" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

</head>

<body>

<div class="site-header pb-4 mb-4">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container" >
            <a class="navbar-brand mr-4" href="{% url 'homepage' %}" style="font-size:24px;"><i class="fa fa-home"></i>
                Movie Recommender</a>
                <a class="navbar-brand mr-4" href="{% url 'movie_list' %}">
                   Movie List</a>
            <div class="navbar-nav ml-auto" style="font-size:18px;">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " data-toggle="dropdown" 
                        role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                            {{user.username}}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'watch_list' %}">Watch list</a>
                            <a class="dropdown-item" href="{% url 'log_out' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    <a class="nav-item nav-link" href="{% url 'log_in' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissable alert-{{message.tags}} text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>
{% endfor %}
{% endif %}



{% block body %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/star_rating.js' %}"></script>

<script>
    $(function(){
        $("#loader").click(function(){
            $(this).after("<img src='{% static 'images/loading.gif' %}' class='mx-auto d-block img-fluid' width='40%'/>").fadeIn();  
        });
    });
</script>


</body>
</html>